.movie-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover,
  &.selected {
    background-color: rgba(#000, 0.04);
    .anticon {
      opacity: 1;
    }
  }
  h5 {
    margin: 0;
  }
  time {
    font-size: 12px;
  }
  .anticon {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}