
/*
| -------------------------------------------------------------------
| Layout Structure
| -------------------------------------------------------------------
*/

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    'content'
    'footer';
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.main-content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

/**/

.header,
.main-content,
.footer {
  display: grid;
  grid-template-columns: 1fr 50px 1140px 50px 1fr;
}

.header {
  .header-inner {
    grid-column: 2 / -2;
  }
}

.main-content {
  grid-row: 1 / 2;
  overflow: hidden;
  > * {
    grid-column: 2 / -2;
  }
}

.footer {
  .footer-inner {
    grid-column: 2 / -2;
  }
}

/**/

@media only screen and (max-width: 1280px) {
  .header,
  .main-content,
  .footer {
    grid-template-columns: 40px 1fr 40px;
  }
}

@media only screen and (max-width: 992px) {
  .header,
  .main-content,
  .footer {
    grid-template-columns: 20px 1fr 20px;
  }
}

@media only screen and (max-width: 600px) {
  .header,
  .main-content,
  .footer {
    grid-template-columns: 10px 1fr 10px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
}